@import url(./reset.css);

/* ---------------------------------------------------- */
/* Core Components
/* ---------------------------------------------------- */

main{
    background-color:  #d1d1d1;
}

.flexbox{
    display: flex;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}


/* ---------------------------------------------------- */
/* Header
/* ---------------------------------------------------- */

header {
    background-color: var(--app-orange);
    overflow: hidden;
    height: 56px;
}

.title {
    width: 40%;
    height: 40px;
}

.title h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.header-nav {
    width: 60%;
    text-align: right;
}

.header-nav ul {
    list-style: none;
}

.header-nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

.header-nav ul li a {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.header-nav ul li + li {
    margin-left: 18px;
}


/* ---------------------------------------------------- */
/* Banner
/* ---------------------------------------------------- */

.banner{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(45vh - 56px);  
    background-color: var(--app-light-bg);
}

.banner p {
    margin: 20px 0;
    width: 50%;
    text-align: center;
}

.button-wrapper{
    display: flex;
    gap: 20px;
}

button{
    height: 36px;
    width: 148px;
    font-size: 15px;
}

.btn-primary{
    background: var(--app-blue);
    color: #fff;
    transition: transform 0.2s ease-in-out;
}

.btn-secondary {
    background-color: #fff;
    color: var(--app-blue);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid var(--app-blue);
  }

button:hover {
    transform: scale(1.05);
}

/* ---------------------------------------------------- */
/* Gallery
/* ---------------------------------------------------- */

.gallery{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh; 
    background-color:  #e5e5e6;
}

img {
    display: block;
    height: 275px;
    width: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}
img:hover {
    transform: scale(1.05);
}

.grid {
    display: grid;
    gap: 30px;
}
  
.lg-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}


/* ---------------------------------------------------- */
/* Footer
/* ---------------------------------------------------- */

footer{
    display: grid;
    align-items: center;
    height: 10vh;  
    background-color:  #d1d1d1;
}

.footer-nav {
    width: 50%;
    text-align: right;
}

.copyright-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.copyright-wrapper p {
    font-size: 14px;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

.footer-nav ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}


.footer-nav ul li + li {
    margin-left: 10px;
}
